.bracketsjdk #content-wrapper{
	padding: 10px;
	margin-bottom: 30px;
	overflow-y: auto;
	/* I really, really hate css. This was the only way to stop overflowing under the status bar. HALP!*/
	height: calc(100% - 6px - 30px);
}

.bracketsjdk pre{
	display: inline;
	font-family: inherit; 
	background-color: inherit; 
	border-style: none; 
	color: inherit;
	padding: 0;
	margin: 0;
	font-size: 1.5em;
	line-height: 1.5;
}

.bracketsjdk #input, #input:focus{
	display: inline-block;
	border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
	text-shadow: 0 0 0 currentColor;
	caret-color: transparent;
	color: transparent;
	outline: none;
	/* necessary for the input to be focusable	*/
	width: 1px;
	margin-left: -2px;
}

.bracketsjdk #input-content{
	font-size: 1.5em;
}

.bracketsjdk .custom-caret{
	display: inline-block;
	border-right: 0.3em solid;
	height: 1.7em;
}
